@model FandomFinds.Models.Product

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Add/Edit Product";
}

<h1>Admin - Add/Edit Product</h1>

<form asp-controller="Product" asp-action="AddEdit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="ProductId" />

    <div class="form-floating mb-2">
        <input asp-for="Name" class="form-control" id="floatingName" />
        <label asp-for="Name">Product Name</label>
    </div>

    <div class="form-floating mb-2">
        <textarea asp-for="Description" class="form-control" id="floatingDescription"></textarea>
        <label asp-for="Description">Description</label>
    </div>

    <div class="form-floating mb-2">
        <input asp-for="Price" class="form-control" id="floatingPrice" />
        <label asp-for="Price">Price</label>
    </div>

    <div class="form-floating mb-2">
        <input asp-for="Stock" class="form-control" />
        <label asp-for="Stock">Stock</label>
    </div>


    <div class="mb-3">
        <label>Brand</label>
        <select asp-for="BrandId" class="form-select"
                asp-items="@(new SelectList(ViewBag.Brands, "BrandId", "Name"))">
            <option selected disabled>-- Select Brand --</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Product Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-area="Admin" asp-controller="Product" asp-action="List" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

