<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" asp-area="Admin" asp-controller="Appointments" asp-action="Index">Admin Appointment Dashboard</a>
            <a class="nav-link text-light" asp-controller="Appointments" asp-action="Index" asp-area="">Back to Site</a>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

 

    @RenderSection("Scripts", required: false)
</body>
</html>

