@{
    ViewData["Title"] = "Home Page Funko, PoPs, Mario, Games, Collectables, Figures, Toys, Posters";
}

<div class="text-center">
    <h1 class="display-4 text-white">Fandom Finds</h1>
</div>
<div class="container">
    <img class="img-fluid" src ="~/image/mariogalaxy.jpg" />
</div>