
@{
}
@{
    ViewBag.Title = "Contact me page";
}



<div class="row">
    <div class="col">
        <table class="table">
            <tr>
                <td> Phone </td>
                <td> 555-123-4567 </td>
            </tr>
            <tr> 
                <td> Email </td>
                <td> me@mywebsite.com </td>

            </tr>
            <tr>
                <td> Facebook </td> 
                <td> facebook.com/mywebsite</td>
            </tr>
        </table>
    </div>
</div>