@{
    Layout = "_Layout";
    ViewBag.Title = "Help Tutorial Page 3";
}
<h1>Tutorial-- Page 3</h1>

<a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="2" class="btn btn-dark text-white">Prev</a>