
@{
}

<div class="card" style="width: 18rem;">
    <img src="/images/products1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">S.h. Figurarts Son Goku</h5>
        <p class="card-text">Son Goku as seen in the upcoming 2022 film "DRAGON BALL SUPER : SUPER HERO" joins S.H.Figuarts, with all new expression parts and coloring![Set Contents] Main Body, Three optional expression parts, Three left and four right optional hands.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">$37.99</li>
        <li class="list-group-item">
            Width: 9.00 (in)
            Height: 7.00 (in)
            Depth: 4.00 (in)
        </li>
        <li class="list-group-item">SKU: 4573102673374 | UPC: 4573102673374</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>